body {
	background-color: #f5f5f5;
	font-family: Century Gothic;
	margin: 0;

	
}
/* Main header*/
.mainheader {
  	text-align: center;

}
/* Making header the headers different*/
h1 {
    color: #000;
	font-size: 50px;
}

h2 {
	color: #5D5C61;
	font-size: 40px;
}

h3 {
	color: #000;
	font-size: 25px;
	text-decoration: underline;
	text-align: center;
}

h4 {
	color: #000;
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
}

/* Styling the navigation of the website*/
.navigation div {
	display: inline-block;
	background-color: #557A95;
	color: #000;
	font-size: 25px;
	text-align: center;
	width: 49.8%;
	padding-top: 10px;
	padding-bottom: 10px;
	}
.body {
	background-color: #379683;
	margin-top: 3%;
	margin-left: 15%;
	margin-right: 15%;
	padding: 1% 2%; 
}
div.me{
	text-align: center;
}
.imgport{
	text-align:center;
}
.table{
	border-color: #379683;
	text-align: center;
}

.footer{
	background-color: #5D5C61;
	color: #fff;
	margin-top: 3%;
	padding: 1% 2%; 
	text-align:center;
}

/* Styling portfolio as a whole and then breaking it down into each of the subcategories*/*/
.portfolio {
    display: inline-block;
	background-color: #73dd03;
	color: #000;
	font-size: 25px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.portfolio1 {
    display: inline-block;
	background-color: #B1A296;
	color: #000;
	font-size: 25px;
	padding:20px;
}
.portfolio2 {
    display: inline-block;
	background-color: #557A95;
	color: #000;
	font-size: 25px;
	padding:20px;

}
.portfolio3 {
    display: inline-block;
	background-color: #ADADAD;
	color: #000;
	font-size: 25px;
	padding:20px;

}

div.clear{
	clear:both;
}
.cv {
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0;
}
iframe {
  border: none;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    display:block;
}

a:link, a:visited, a:active {
	color: #000;
	text-decoration: none;
}